.navbar {
  background-color: #222121;
  padding: 1rem 3%;
  display: flex; 
  align-items: center;
  width: 100%;

  .page-title {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-align: center;
  }

  .button {
    display: flex;
    gap: 15px;

    .divform {
      display: flex;
      align-items: center;
      
      .search-form {
        display: flex;
        gap: 10px;
        font-weight: bold;

        .search-input {
          padding: 10px;
          border: 1px solid #fff;
          border-radius: 5px;
          background-color: #2c2c2c;
          color: #fff;
        }

        .btn-default {
          padding: 10px 20px;
          background-color: #f51008;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          color: #fff;
          font-weight: bold;
        }

        .btn-default:hover {
          background-color: #e55d00;
        }
      }
    }

    .home-link {
      margin-top: .78rem;

      .btn-home {
        padding: 9px 20px;
        background-color: #f51008;
        border-radius: 5px;
        cursor: pointer;
        color: #fff;
        font-weight: bold;
        text-align: center;
      }

      .btn-home:hover {
        background-color: #e55d00;
      }
    }
  }
}

